*{
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

header{
    background-image: url("https://i.postimg.cc/FsN97k1g/01-Black-Desk-Setup-minimal-modern-hero3.webp");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main{
    background-color: #171717;
}

section{
    min-height: 100vh;
    color: white;
}

.landing-heading{
 display: grid;
 place-items: center;
 margin-top: 40vh;
 color: goldenrod;
}

.about-header{
    text-align: center;
    color: goldenrod;
}
.about-content{
    padding: 20px;
    color: white;
}